Respect Domain Wildcards without Regex

Wildcard domain names are a common, standardized thing, to the point most users just expect that functionality from anything taking domain name(s) in an input field. 

Listing just `*.example.com` in the Exceptions should prevent both `site1.example.com` and `site2.example.com` from being discarded but currently does not.

I would like to make a feature request that _auto-tab-discard_ respect them **without** requiring the end user to convert them to regex. The average browser extension user has little to no experience with regex and is more like to give up and be dissatisfied with the extension that learn it just for this purpose.

References:
[RFC 1034 §4.3.3](https://datatracker.ietf.org/doc/html/rfc1034#section-4.3.3)
[RFC 4592](https://datatracker.ietf.org/doc/html/rfc4592)